[*.cs]

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = silent

# S1121: Assignments should not be made from within sub-expressions
dotnet_diagnostic.S1121.severity = silent
